<a href="https://colab.research.google.com/github/wjdemthf/Data_Analysis_Programming/blob/main/DAP_Project_Steam_Store_Game_Analysis_201714220_Deunsol_Jeong.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Analysis Programming: Project
## - Steam Store Game Analysis -

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
dataPath = 'https://raw.githubusercontent.com/wjdemthf/Data_Analysis_Programming/main/steam.csv'

df = pd.read_csv(dataPath)
#for i in range(1, 2):
  #print(dataPath + str(i) + '.csv')
  #tmp = pd.read_csv(dataPath + str(i) + '.csv')
  #df = pd.concat(df, tmp)

df

         appid                        name  ...             owners  price
0           10              Counter-Strike  ...  10000000-20000000   7.19
1           20       Team Fortress Classic  ...   5000000-10000000   3.99
2           30               Day of Defeat  ...   5000000-10000000   3.99
3           40          Deathmatch Classic  ...   5000000-10000000   3.99
4           50   Half-Life: Opposing Force  ...   5000000-10000000   3.99
...        ...                         ...  ...                ...    ...
27070  1065230             Room of Pandora  ...            0-20000   2.09
27071  1065570                   Cyber Gun  ...            0-20000   1.69
27072  1065650            Super Star Blast  ...            0-20000   3.99
27073  1066700  New Yankee 7: Deer Hunters  ...            0-20000   5.19
27074  1069460                   Rune Lord  ...            0-20000   5.19

[27075 rows x 18 columns]

In [ ]:
df.genres[0]
df1 = df

In [ ]:
#df1.genres.str.split(';').tolist()

genre_item = (set(g.split(';')) for g in df.genres)  #https://rfriend.tistory.com/381 [R, Python 분석과 프로그래밍의 친구 (by R Friend)]
genre_set = sorted(set.union(*genre_item))

indicator_mat = pd.DataFrame(np.zeros((len(df), len(genre_set))), columns=genre_set)

for i, genre in enumerate(df.genres):
  indicator_mat.loc[i, genre.split(';')] = 1

indicator_mat
merge_inner = pd.merge(df1, indicator_mat)

       Accounting  Action  Adventure  ...  Video Production  Violent  Web Publishing
0             0.0     1.0        0.0  ...               0.0      0.0             0.0
1             0.0     1.0        0.0  ...               0.0      0.0             0.0
2             0.0     1.0        0.0  ...               0.0      0.0             0.0
3             0.0     1.0        0.0  ...               0.0      0.0             0.0
4             0.0     1.0        0.0  ...               0.0      0.0             0.0
...           ...     ...        ...  ...               ...      ...             ...
27070         0.0     0.0        1.0  ...               0.0      0.0             0.0
27071         0.0     1.0        1.0  ...               0.0      0.0             0.0
27072         0.0     1.0        0.0  ...               0.0      0.0             0.0
27073         0.0     0.0        1.0  ...               0.0      0.0             0.0
27074         0.0     0.0        1.0  ...               0.0      0.0             0.0

[27075 rows x 29 columns]